.toggle-wrap {
  display: flex;
  align-items: center;
  p {
    color: #42526E;
    font-family: Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
  }
  .toggle-mode {
    position: relative;
    background-color: #67C462;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 33px;
    height: 14px;
    cursor: pointer;
    margin-right: 8px;
    &__circle {
      background-color: #FFFFFF;
      border: 1px solid #529C4E;
      border-radius: 100%;
      width: 16px;
      height: 16px;
      position: absolute;
      top: -2px;
      transition: transform 0.2s ease; 
    }
    .working {
      transform: translateX(-1px);
    }
    .test {
      transform: translateX(17px);
    }
  }
}
