.nav-wrap {
  padding:0 9.5%;
.top-nav {
    height: 72px;
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .page-title {
      color: #172B4D;
      font-family: Helvetica, sans-serif;
      font-size: 32px;
      font-weight: 600;
      letter-spacing: 0.16px;
      line-height: 38px;
      text-align: left;
      text-transform: capitalize;
    }
    .nav-menu {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
}
}