.user-profile {
  display: flex;
  align-items: center;

  div {
    color: #42526E;
    font-family: Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
  }

  &__circle {
    background-color: #D8D8D8;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    color: #42526E;
    font: 0.75em Helvetica;
    font-weight: 600;
  } 
}